# --- Security / Secrets ---
ngrok.yml
.env
*.key
id_rsa
server.key

# --- Binaries & System ---
ngrok.exe
__pycache__/
*.pyc

# --- Live Data & Logs ---
attacks.json
enriched_attacks.json
pcaps/
*.pcap

# --- OS Specific ---
.DS_Store
Thumbs.db